@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media print {
  /* Ocultar el Sidebar global */
  aside {
    display: none !important;
  }

  /* El contenido principal debe ocupar todo el ancho */
  main {
    margin-left: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }

  /* Ajustar el fondo para ahorrar tinta */
  body {
    background-color: white;
  }
}
